//input 
.text-field{
	margin: 0 auto;
	border:0 ;
	border-bottom:2px solid #f1f1f1;
}

//box-content
.box-content{
	text-align: center;
	input{
		margin-bottom: 20px;
		width: 400px;
		outline: none;
		color: @blue;
		font-family: 'thin-pixel';
	}
	input:focus{
		border-bottom:2px solid @blue;
	}
}

//drawing square
#square{
	margin: 0 auto;
	width: 400px;
	height: 400px;
	&:hover{
		cursor: crosshair;
	}
}

//Set pixel width
.box{
	width: @pixel;
	height: @pixel;
	background: #333;
	float: left;
	&:hover{
		box-shadow:1px solid white;
	}
}

//Previous Colors
.colors{
	float: left;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	&:hover{
		cursor: pointer;
	}
}

//Toolbar
#tool-bar{
	position:fixed;
	left:0px;
	top:0;
	width:100px;
	height: 500px;
	background: blue;
}

#pixel-size{
	width: 400px;
	margin: 0 auto;
	text-align: center;
	a, p{
		display: inline-block;
		padding: 0 10px;
	}
	a{
		&:hover{
			cursor: pointer;
		}
	}
}











