extends layout

block content
	.box-content.row
		.col-md-12
			#square
				- for (var i = 0; i < 400; ++i) {
					div(class="box" id="box-#{i}")
				- }

	.row.menu
		.col-md-12
			p Color picker
			input(type='text' id='colorPicker')
			p Toggle the 'e' key to erase.
		.col-md-12
			p Recently Used Colors
			- for (var i = 0; i < 10; i++) {
				div(class="colors" id="color-#{i}")
			- }
		.col-md-12#button-box
			a(id='image' class='button btn-default') Get my Image!
		.col-md-12
			p Have a suggestion? Check the 
				a(href="/features") Roadmap

	.footer.footer-inner
		.footer-left
				a(href="/") home
				a(href="/features") Roadmap
		.footer-right
			p Crafted by 
				a(href="https://twitter.com/itsdpark" target='_blank') @itsdpark
			p Stealing code 
				a(href="https://github.com/dparkd/Pixdraw" target='_blank') @github


	#pixel-size


