extends layout

block content

	#home
	
	.content
		h1 Dpark is working on more features! 
		p.banner Isometric Pixel Drawing
		p.banner Social Login
		p.banner Colour Lovers API integration/challenge
		p.banner More drawing tools (ie. undo, big square, etc.)
		p.banner Home Page featured pixSquares
		p.banner Image save with title and author
		p.banner Social sharing with your pixSquare
		p.banner Recently used colors
		p.banner Classic pencil square drawing
		p.banner Change canvas size
	.footer
		.footer-left
				a(href="/") home
				a(href="/features") Roadmap
		.footer-right
			p Crafted by 
				a(href="https://twitter.com/itsdpark" target='_blank') @itsdpark
			p Stealing code 
				a(href="https://github.com/dparkd/Pixdraw" target='_blank') @github

