extends layout

block content

	#home
	
	.content
		h1 Dpark is working on more features! 
		h4 If you have suggestions email: dpark.hanul@gmail.com
		hr
		p.banner.done Recently used colors
		p.banner.done Eraser function
		p.banner.done Change pixel square size
		p.banner.done Change canvas aspect ratio (1x1, 4x3)
		p.banner Save function through cookies
		p.banner Social Sharing
		p.banner Colour Lovers API integration/challenge
		p.banner Home Page featured pixSquares
		p.banner Mongo DB integration for users, and save function
		p.banner Image save with title and author
		p.banner User Accounts
		p.banner Isometric Pixel Drawing


	.footer
		.footer-left
				a(href="/") home
				a(href="/features") Roadmap
		.footer-right
			p Crafted by 
				a(href="https://twitter.com/itsdpark" target='_blank') @itsdpark
			p Stealing code 
				a(href="https://github.com/dparkd/Pixdraw" target='_blank') @github

