extends layout

block content

	#home
		
	.content(style='padding-top:100px;')
		h1 Welcome to PixDraw Beta
		p(style='padding-bottom:10px;') Draw your very own pixel square and share it via #pixdraw
		.examples
			img(src='/images/examples/1.png')
			img(src='/images/examples/2.jpg')
			img(src='/images/examples/3.jpg')
			img(src='/images/examples/4.jpg')

		a(href='/draw' class='button') Make My Own Square! 

	.footer
		.footer-left
				a(href="/") home
				a(href="/features") Roadmap
		.footer-right
			p Crafted by 
				a(href="https://twitter.com/itsdpark" target='_blank') @itsdpark
			p Stealing code 
				a(href="https://github.com/dparkd/Pixdraw" target='_blank') @github


