@font-face {
    font-family: 'pixel';
    src: url('/fonts/slkscr-webfont.eot');
    src: url('/fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/slkscr-webfont.woff') format('woff'),
         url('/fonts/slkscr-webfont.ttf') format('truetype'),
         url('/fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'thin-pixel';
    src: url('/fonts/thinslkscr-webfont.eot');
    src: url('/fonts/thinslkscr-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/thinslkscr-webfont.woff') format('woff'),
         url('/fonts/thinslkscr-webfont.ttf') format('truetype'),
         url('/fonts/thinslkscr-webfont.svg#silkscreennormal') format('svg');
    font-weight: normal;
    font-style: normal;

}



