@import 'variables';

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  cursor: url(../images/blue.png), auto;
}

a {
  color: #00B7FF;
}

#colorPicker a{
	display: block;
}

#square{
	margin: 0 auto;
	width: 400px;
	height: 400px;
}

//Set pixel width
.box{
	width: @pixel;
	height: @pixel;
	background: blue;
	float: left;
	&:hover{
		background: red;
	}
}

//Red
[data-background="#F64747"]{
	background: #F64747;
}
//Green
[data-background="#2ECC71"]{
	background: #2ECC71;
}
//Blue
[data-background="#22A7F0"]{
	background: #22A7F0;
}
//Yellow
[data-background="#F9BF3B"]{
	background: #F9BF3B;
}