body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.row{
	margin: 0;
}

a {
  color: #00B7FF;
}

#colorPicker a{
	display: block;
}


@import '/components/variables';
@import '/components/navfoot';
@import '/pages/home';
@import '/components/colorpicker';
@import '/components/buttons';
@import '/pages/draw';

