.menu{
	text-align: center;
	margin-top: 20px;
	width:400px;
	margin: 0 auto;
	p{
		font-family:'thin-pixel';
	}
	.col-md-12{
		padding: 0;
		text-align:left;
	}
}
.sp-replacer{
	border: 0;
	width: 400px;
	text-align: center;
	padding: 0;
	.sp-preview{
		float: none;
		width: 100%;
		border: none;
		margin: 0 auto;
	}
	.sp-dd{
		display: none;
	}
}